body, * {
    overflow: hidden;
}

#introVideo, #introLoop {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

#introLoop {
    display: none;
    position:absolute;
    z-index: 0;
} 

#collage-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    top: 0;
}